.dropLeft {
  position: fixed;
  top: 50%;
  right: 10px;
}
.dropLeftIcon {
  color: rgb(79, 59, 120);
  background-color: rgba(240, 248, 255);
  font-size: 180%;
}
.friendsButton {
  box-shadow: 2px 2px rgba(33, 27, 28, 0.45);
  height: 200px;
}

.friends {
  background-color: rgba(189, 171, 231, 0.2);
  max-height: 400px;
  overflow-y: auto;
}
.friends::-webkit-scrollbar {
  width: 5px;
}
.friends::-webkit-scrollbar-track {
  background: rgb(79, 59, 120);
}
.friends::-webkit-scrollbar-thumb {
  background: rgb(33, 27, 28);
}
.friends::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 11, 11);
}
.show {
  background: rgba(33, 27, 28, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.userName {
  background-color: rgba(189, 171, 231, 0);
  cursor: pointer;
}
