.Card {
  display: grid;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: auto;
  border: 1px solid aliceblue;
  color: aliceblue;
}
.cardTitle {
  text-align: center;
}
.cardBody {
  display: grid;
}

.userImage {
  width: 100%;
  height: auto;
}
.addUserImage {
  width: 60px;
  height: 60px;
  margin: auto;
  background-color: rgb(79, 59, 120);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  justify-self: center;
  cursor: pointer;
}
.nameInput {
  border-color: rgb(79, 59, 120);
  color: aliceblue;
  text-align: center;
}

.nameInput::placeholder {
  color: rgba(240, 248, 255, 0.39);
  text-align: center;
}

.cardBottom {
  justify-self: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}
.confirm {
  padding: 0;
  background-color: rgb(29, 161, 29);
  border-radius: 50%;
  width: 30px;
}
.cancel {
  padding: 0;
  background-color: rgb(207, 55, 55);
  border-radius: 50%;
  width: 30px;
}
