.search-form::placeholder {
  text-align: center;
}
div .search-bar {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  div .search-bar {
      order: 5;
      margin:auto;
      width: 90%;
  }
}
.user-list {
  width: 50vw;
  min-height: max-content;
  max-height: 200px;
  overflow-y: auto;
  display: grid;
  z-index: 99;
  position: absolute;
  border: 1px aliceblue solid;
  border-radius: 0 0 2% 2%;
  box-shadow: 2px 2px aliceblue;
}
.foundUser {
  display: flex;
}
.requestFriend {
  height: fit-content;
  color: aliceblue;
  background-color: rgb(79, 59, 120);
}
.user-list::-webkit-scrollbar {
  width: 5px;
}
.user-list::-webkit-scrollbar-track {
  background: rgb(79, 59, 120);
}
.user-list::-webkit-scrollbar-thumb {
  background: rgb(33, 27, 28);
}
.user-list::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 11, 11);
}

.button-info {
  background-color: rgb(79, 59, 120, 0);
  color: aliceblue;
  z-index: 1000;
}
