
.Profile {
  display: grid;
  justify-content: center;
  width: 80%;
  height: auto;
  border: 2px solid aliceblue;
  color: aliceblue;
}
.userName {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.profileImage {
  cursor: pointer;
  object-fit: cover;
  height:auto;
  max-height:70vh;
}
.profilePhoto-button {
  background-color: rgb(56, 41, 84);
  margin-left: auto;
}
.file-upload {
  display: inline-block;
  margin-left: auto;
  justify-self: center;
  cursor: pointer;
}
.awesomeAboutPhoto {
  background-color: rgb(56, 41, 84);
}
.fileUploadButton {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 34px;
  height: 30px;
  border-left: 2px solid rgba(255, 255, 255, 0.384);
  border-top: 2px solid rgba(255, 255, 255, 0.384);
  border-bottom: 2px solid rgba(0, 0, 0, 0.384);
  border-right: 2px solid rgba(0, 0, 0, 0.384);
}
.deleteAccModal .modal-content {
  border: 2px solid aliceblue;
}

.aboutMe-buttonGroup {
  margin-left: auto;
}

.chooseButton{
  margin-right:10px;
  display:grid;
  align-content:center;
  font-size: 90%;
  font-weight:600;
}
#delete-user{
  width: 100px;
}
#change-pass{
  width: 100px;
}
@media only screen and (max-width:1200px) {
  .Profile{
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  #delete-user{
    margin-left: auto;
  }
}
@media only screen and (max-width:300px) {
  .chooseButton{
    font-size: 70%;
  font-weight:400;
  }
  #delete-user{
   width: min-content;
  }
  #change-pass{
    width: min-content;
  }
}
