.header {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin-bottom: 50px;
}
@media only screen and (max-width: 800px) {
  div .header {
    flex-wrap: wrap;
  }
}
div .dropDownMenu {
  background-color: rgb(79, 59, 120);
  border: 1px solid aliceblue;
  box-shadow: aliceblue 1px 1px;
  width: 200px;
}
div .dropDownMenu h3 {
  
  height: 30px;
  display: grid;
  align-content: center;
}
@media only screen and (min-width: 768px) {
  div .dropDownMenu {
    width: 150px;
  }
  .yes {
    font-size: medium;
  }
  .signOut {
    font-size: medium;
  }
}
.dropDownLink {
  height: min-content;
  width: max-content;
}
.regLog {
  display: flex;
  gap: 20px;
  
}
h2 {
  text-shadow: 2px -2px rgb(15, 72, 133);
  
}
.yes {
  border: 1px solid rgba(240, 248, 255, 0.438);
  color: aliceblue;
  text-align: center;
  background-color: rgb(79, 59, 120);
}
.yes:hover {
  background-color: rgb(58, 43, 88);
}
.signOut {
  border: 1px solid rgba(240, 248, 255, 0.404);
  text-align: center;
  color: aliceblue;
  background-color: rgb(79, 59, 120);
}
.signOut:hover {
  background-color: rgb(58, 43, 88);
}
.no {
  color: aliceblue;
  font-size: calc(120% + 1.5vw);
}
