.waver{
    display: flex;
    width:50%;
    height: 100px;
    color: aliceblue;
}
.waverGroup::-webkit-scrollbar {
    width: 5px;
  }
.waverGroup{
    height: 55vw;
    overflow-y: scroll;
    position: fixed;
}


