.chatRoom .modal-dialog {
  height: 90%;
  width: 100%;
}

.chatRoom .modal-content {
  border: 1px solid aliceblue;
  height: 100%;
}
.modal-backdrop {
  opacity: 0.5 !important;
}
.chatRoom .modal-header {
  border: 1px solid aliceblue;
}

.chatRoom div .modal-body {
  width: 100%;
  height: 95%;
  padding-bottom: 0;
  display: grid;
  align-content: flex-end;
}
.allMessages {
  overflow-y: auto;
}
.chatRoom .modal-footer {
  border: 1px solid aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
}
.chatRoom form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .chatRoom form {
    flex-wrap: wrap;
  }
  #close {
      order: 2;
  }
  #submit{
    order: 3;
  }
}
@media only screen and (max-width: 575px) {
  
  .chatRoom .modal-dialog {
    width: 98%;
    height: 90%;
    margin: auto;
  }
}
.chatRoom .chooseButton {
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
}
.chatRoom {
  background-color: rgb(33, 27, 28, 0.2);
  color: aliceblue;
}
button.close {
  display: none;
}
