div .deskFriends {
  max-width: 200px;
  max-height: 400px;
  overflow-y: auto;
  width: max-content;
  position: fixed;
  top: 300px;
  background-color: rgb(79, 59, 120, 0.2);
  box-shadow: 8px 8px 8px 0 rgba(189, 171, 231, 0.466);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.deskFriends::-webkit-scrollbar {
  width: 5px;
}
.deskFriends::-webkit-scrollbar-track {
  background: rgb(79, 59, 120);
}
.deskFriends::-webkit-scrollbar-thumb {
  background: rgb(33, 27, 28);
}
.deskFriends::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 11, 11);
}
