
.main{
  display: grid;
    justify-content: center;
    margin-right: 300px;
}

::-webkit-scrollbar {
  width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(79,59,120); 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(33, 27, 28); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(174, 11, 11);
  }



